 #controls button{
	width:75px;
	height:75px;
	display:block;
	margin:5px;
}

#stream {
	margin-top:10px;
}

#log {
	width:300px;
	height:150px;
	margin:0 auto;
	background-color:black;
	color:greenyellow;
	font-family: monospace;
	position:absolute;
	margin: 5px 5px;
}

#log div{
	margin: 5px 5px;
}